<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="https://image.flaticon.com/icons/png/128/2862/2862446.png"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-2.1.1.min.js"
    ></script>
    <link rel="stylesheet" href="css/styleinicio.css" />
    <title>Movie Classification</title>
  </head>
  <body>
    <div id="contenedor-slider" class="contenedor-slider">
      <div id="slider" class="slider">
        <section class="slider__section">
          <div class="slider__contenido">
            <h1 class="slider__contenido__titulo">
              El grupo Developers Team Band les da la Bienvenida
            </h1>
            <br />
            <br />
            <h2 class="slider__contenido__titulo">
              "Developers Team mas que un grupo una familia"
            </h2>
          </div>
          <img
            src="https://images3.alphacoders.com/114/11439.png"
            class="slider__img"
          />
        </section>
        <section class="slider__section">
          <div class="slider__contenido">
            <h2 class="slider__contenido__titulo" style="color: blue;">
              Proyecto:
            </h2>
            <h2 class="slider__contenido__titulo">MovieClassification</h2>
            <h2 class="slider__contenido__titulo" style="color: blue;">
              Asignatura:
            </h2>
            <h2 class="slider__contenido__titulo">Redes Neuronales</h2>
            <h2 class="slider__contenido__titulo" style="color: blue;">
              Profesor:
            </h2>
            <h2 class="slider__contenido__titulo">Oscar Fabian Torres Ramos</h2>
            <h2 class="slider__contenido__titulo" style="color: blue;">
              Integrantes:
            </h2>
            <h5 class="slider__contenido__titulo">Mateo Garcia Álavarez</h5>
            <h5 class="slider__contenido__titulo">Julian Correa Sierra</h5>
            <h5 class="slider__contenido__titulo">Brian Montoya Vanegas</h5>
            <h5 class="slider__contenido__titulo">Oliver Charry Benavies</h5>
            <h2 class="slider__contenido__titulo" style="color: blue;">
              Facultad:
            </h2>
            <h2 class="slider__contenido__titulo">Ingeniera Informatica</h2>
            <h2 class="slider__contenido__titulo" style="color: blue;">
              Universidad:
            </h2>
            <h2 class="slider__contenido__titulo">Unisabaneta</h2>
          </div>
          <img
            src="https://images5.alphacoders.com/523/523395.jpg"
            class="slider__img"
          />
        </section>
        <section class="slider__section">
          <div class="slider__contenido">
            <h2 class="slider__contenido__titulo">¿Qué Desarrollamos?</h2>
            <h5 class="slider__contenido__texto" id="text3">
              <br />
              Mediante el uso de las redes neuronales desarrollamos un proyecto
              de calificación de peliculas y series donde el usuario podra
              calificar esas peliculas o series y el sistema le mostrara
              mediante el uso de la libreria MIND.JS la predicción de las
              calificaciones acomuladas, El usuario tambien podra agregar sus
              peliculas o series a la sección de favoritos, ver en que
              plataforma de streaming estan las mas recientes y enviarnos que
              pelicula o serie falta en la plataforma para actualizarla y
              tambien enviarnos sugerencias de mejoramiento.
            </h5>
          </div>
          <img
            src="https://images4.alphacoders.com/605/60578.jpg"
            class="slider__img"
          />
        </section>

        <section class="slider__section">
          <div class="slider__contenido">
            <h2 class="slider__contenido__titulo">
              ¿Qué es la libreria MIND.JS?
            </h2>
            <img src="image/mind.png" height="60" width="100" />
            <br />
            <br />
            <h5 class="slider__contenido__texto" id="text4">
              Esta librería se encarga de predecir datos que se le envíen
              mediante unas funciones que trae predeterminadas algunas de ellas
              son: <span style="color: blue;">learn()</span> que se encarga de
              recoger los datos que se le envían en este caso la calificación de
              la pelicula o serie y almacenarlos, e internamente la libreria con
              todos los datos que se le envian ella va aprendiando
              automáticamente y con la función
              <span style="color: blue;">predict()</span> va a predecir los
              datos almacenados para luego mostrarlos por el lado del cliente.
            </h5>
          </div>
          <img
            src="https://images2.alphacoders.com/820/82012.jpg"
            class="slider__img"
          />
        </section>
        <section class="slider__section">
          <div class="slider__contenido2">
            <h2 class="slider__contenido__titulo">
              ¿Qué Herramientas de desarrollo usamos?
            </h2>
            <br />
            <div id="herramientas">
              <ul>
                <li>Frontend</li>
                <li>Backend</li>
                <li>Basde de Datos</li>
                <li>Metodologia</li>
                <li>API</li>
              </ul>
            </div>
            <div id="imagenesfrontend">
              <img src="image/html5.png" height="60" width="60" />
              <img src="image/css.png" height="60" width="60" />
              <img
                src="image/js.png"
                height="60"
                width="60"
                style="margin-top: 20px;"
              />
              <img
                src="image/bootstrap.png"
                height="60"
                width="60"
                style="margin-top: 15px;"
              />
            </div>
            <div id="imagenesbackend">
              <img src="image/nodejs.png" height="100" width="100" />
            </div>
            <div id="imagenesdb">
              <img src="image/mongodb.png" height="60" width="60" />
            </div>
            <div id="imagenesmetodologia">
              <img src="image/trello.png" height="80" width="80" />
            </div>
            <div id="imagenesapi">
              <img src="image/api.svg" height="100" width="100" />
            </div>
          </div>
          <img
            src="https://images.alphacoders.com/270/270963.jpg"
            class="slider__img"
          />
        </section>
        <section class="slider__section">
          <div class="slider__contenido">
            <h2 class="slider__contenido__titulo" style="color: blue;">
              ¡Es hora de empezar!
            </h2>
            <br />
            <h4>No olvides que:</h4>
            <br />
            <h4 class="slider__contenido__titulo">
              "< Si puedes imaginarlo, puedes programarlo />"
            </h4>
            <h5 class="slider__contenido__texto" id="text3">
              <br />
              <button class="btn btn-primary" id="btninicio">
                <a href="/inicio" id="proyecto">Iniciar</a>
              </button>
            </h5>
          </div>
          <img
            src="https://images5.alphacoders.com/573/573475.jpg"
            class="slider__img"
          />
        </section>
      </div>
      <div id="btn-prev" class="btn-prev">&#60;</div>
      <div id="btn-next" class="btn-next">&#62;</div>
    </div>
    <script type="text/javascript" src="js/slider.js"></script>
  </body>
</html>
