body {
  background: url("../image/pelis.jpg");

  text-align: left;
  margin: auto;
  font-family: "Open Sans", sans-serif;
}

.container {
  text-align: center;
  margin: auto;
  width: 55%;
  margin-top: 4%;
  background: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 25px 33px black;
  border-bottom: 7px solid #384cbd;
  border-radius: 5px;
}

.logo-escrito {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  margin: auto;
  width: 60%;
  color: #384cbd;
}

.search {
  padding: 20px;
  display: flex;
}

.search input {
  border: 1px solid #d9d9d9;
  padding: 10px;
  width: 70%;
  color: #000000;
  font-weight: bold;
  margin-right: 10px;
}

#estilo-boton {
  padding: 8px;
  background: #384cbd;
  border: 1px solid #384cbd;
  color: #ffffff;
  font-weight: bold;
  border-radius: 2px;
  height: 70px;
  width: 15%;
}
#estilo-boton-serie {
  padding: 8px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 2px;
  width: 21%;
  height: 70px;
  margin-left: 5px;
}
#estilo-boton-voz {
  padding: 8px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 2px;
  margin-top: -100px;
  width: 21%;
  margin-left: 380px;
  height: 70px;
}
#renderizado-datos {
  background: #ffffff;
  padding: 30px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

.resultado-api {
  display: flex;
}

.imagen-portada img {
  width: 288px;
}

.datos-api {
  margin-left: 20px;
}

.datos-api h2 {
  margin: auto;
  margin-bottom: 10px;
  font-size: 22px;
  color: #384cbd;
  font-weight: bold;
  text-transform: uppercase;
}

.datos-api2,
.datos-api2 h1 {
  font-size: 14px;
  font-weight: lighter;
}

.datos-api2 span {
  font-weight: bold;
  line-height: 22px;
  color: #384cbd;
}
nav a {
  color: #fff;
}
#estrellas {
  margin-left: 0px;
  display: inline-block;
}
figure {
  display: inline-block;
}

body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: opacity(0.1) grayscale(100%) contrast(130%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background: url(https://image.tmdb.org/t/p/w500${poster_path});
}

#startpreduccion :hover {
  color: yellow;
}
.fa-star:hover {
  color: yellow;
}
#muestra {
  background: #384cbd;
  border-color: #384cbd;
  border-radius: 5px;
  font-size: 15px;
}
#btn {
  color: yellow;
}
#muestra :hover {
  color: yellow;
}
#titulo {
  display: none;
}
#titulo2 {
  display: none;
}
#sinopsis {
  display: none;
}
#img {
  display: none;
}
#start {
  font-size: 11px;
  color: yellow;
}
#start2 {
  font-size: 11px;
  color: yellow;
}
#valor {
  display: none;
}

#predicciones {
  /* display: none; */
  color: red;
}
/* #startpreduccion {
  display: none;
} */

#btnstart {
  background: #384cbd;
  border-radius: 15px;
  border-color: #384cbd;
  margin-left: 3px;
  font-size: 10px;
}
/*nuevos cambios de estilo*/
#card1 {
  margin-left: -3px;
}
#card2 {
  margin-left: -3px;
}
#texto {
  display: none;
}
#search-input {
  width: 470px;
  height: 70px;
  border: 1px solid blue;
  border-radius: 4px;
}
#colpelis {
  border: 1px solid blue;
}
#texteare {
  height: 200px;
}
#fap {
  text-align: center;
  margin-left: 200px;
}
#falta {
  margin-left: 10px;
}
#salir {
  color: #fff;
  text-decoration: none;
}
