<div class="container" style="margin-top: 160px;">
  <div class="row">
    <h1 class="text-center" style="margin-left: 120px;">
      Correo Enviado correctamente
    </h1>
  </div>
  <button class="btn btn-primary">
    <a href="/inicio" style="text-decoration: none; color: white;"
      >Volver al inicio</a
    >
  </button>
</div>
