<section class="container" id="container">
  <div class="logo-escrito">
    Busca tu pelicula o serie favorita y calificala
  </div>

  <div class="search">
    <div id="texto"></div>
    <div id="input">
      <input
        id="search-input"
        type="text"
        autofocus 
        name="title"
        placeholder="Ingresa la pelicula o serie que desea buscar"
      ></input>
   
      <button class="btn" id="estilo-boton-voz" onclick="buscarVoz()" ;>
        <img title="Buscar por audio" src="image/micro.png" height="25"/>
      </button>
    </div>
    <button onclick="getApiSearch()" id="estilo-boton" title="Buscar Pelicula">
      Buscar Pelicula
    </button>
    <button
      title="Buscar Serie"
      onclick="getApiSearchSeries()"
      id="estilo-boton-serie"
      class="btn btn-danger"
    >
      Buscar Serie
    </button>
  </div>
  <div></div>
  <div id="renderizado-datos"></div>
  <h1>Rating Prediction:</h1>
  <button class="btn btn-primary" id='botonP' title="Predicci贸n" onclick="datos();">Predicci贸n</button>
  <br>
  <br>
  <h5 id="prediciendo">Prediciendo...</h5>
  <div class="progress" style="margin: 20px;" id="progreso">
    <div
      id="bar"
      class="progress-bar progress-bar-striped active"
      role="progressbar"
      aria-valuenow="0"
      aria-valuemin="0"
      aria-valuemax="100"
      style="width: 0%;"
    ></div>
  </div>
  <h5 id="pe">Predicci贸n de peliculas:</h5>
  <a id="prediccion"></a>
  <div id="pred"></div>

  <h5 id="se">Predicci贸n de series:</h5>
  <a id="prediccion2"></a>
  <div id="pred2"></div>
  <br />

</section>

<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"
></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/predecir.js"></script>
<script type="text/javascript" src="js/mind.js"></script>
<script type="text/javascript" src="js/api.js"></script>
<script type="text/javascript" src="js/api-series.js"></script>
<script type="text/javascript" src="js/series.js"></script>
<script type="text/javascript" src="js/reconocimiento.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

