<br />
<br />
<div class="container" style="width: 1300px;">
  <h1>Peliculas Recientes:</h1>
  <div class="row">
    <div class="col-sm-4">
      <div class="card bg-dark" style="width: 22.6rem;">
        <h2 class="card-text text-light">Trailer</h2>
        <h5 class="card-title text-light">El hoyo</h5>
        <iframe
          width="360"
          height="315"
          src="https://www.youtube.com/embed/Pb40NLXBHF4?start=3"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <div class="card-body">
          <h3 class="text-light">Ver en :</h3>
          <a
            href="https://www.netflix.com/co/title/81128579"
            target="_blank"
            class="btn btn-light"
            ><img
              src="https://cdn.iconscout.com/icon/free/png-256/netflix-282224.png"
              alt=""
              height="35"
              width="50"
          /></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-dark" style="width: 22.6rem;">
        <h2 class="card-text text-light">Trailer</h2>
        <h5 class="card-title text-light">john wick 2</h5>
        <iframe
          width="360"
          height="315"
          src="https://www.youtube.com/embed/C0BMx-qxsP4?start=10"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <div class="card-body">
          <h3 class="text-light">Ver en :</h3>
          <a
            href="https://www.netflix.com/co/title/80131552"
            target="_blank"
            class="btn btn-light"
            ><img
              src="https://cdn.iconscout.com/icon/free/png-256/netflix-282224.png"
              alt=""
              height="35"
              width="50"
          /></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-dark" style="width: 22.6rem;">
        <h2 class="card-text text-light">Trailer</h2>
        <h5 class="card-title text-light">Léon</h5>
        <iframe
          width="360"
          height="315"
          src="https://www.youtube.com/embed/jawVxq1Iyl0?start=5"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <div class="card-body">
          <h3 class="text-light">Ver en :</h3>
          <a
            href="https://www.netflix.com/co/title/7880857"
            target="_blank"
            class="btn btn-light"
            ><img
              src="https://cdn.iconscout.com/icon/free/png-256/netflix-282224.png"
              alt=""
              height="35"
              width="50"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
