<div class="container" style="width: 1300px;">
  <h1>Series Populares:</h1>
  <div class="row">
    <% for(var x = 0; x < series.length; x++) {%>
    <div class="col-sm-4 mt-4" id="card2">
      <div class="card bg-dark" style="width: 22.6rem;">
        <h2 class="card-text text-light">Trailer</h2>
        <h5 class="card-title text-light"><%= series[x].titulo %>:</h5>
        <iframe
          width="360"
          height="315"
          src="<%= series[x].urlvideo  %> "
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <div class="card-body">
          <h3 class="text-light">Plataforma :</h3>
          <a
            href="https://www.netflix.com/co/title/81128579"
            target="_blank"
            class="btn btn-danger"
            ><img
              src="<%= series[x].plataforma  %> "
              alt=""
              height="35"
              width="50"
          /></a>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
