<nav class="navbar navbar-expand-lg navbar-primary bg-primary" id="header">
  <h4 class="text-light">Movie Classification</h4>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-2" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-dark" href="/" active>Inicio </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/peliculas">Peliculas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Series</a>
      </li>
    </ul>

    <h4 class="mr-sm-2 nu">Oscar</h4>
    <button class="btn btn-danger my-2 my-sm-0" type="submit" routerLink="/">
      Salir
    </button>
  </div>
</nav>
